*{
  margin: 0;
  padding: 0%;
  display: block;
}
niagra-thin{
  font-family: "niagara", serif;
  font-weight: 200;
  font-style: normal;
}
niagra-regular{
  font-family: "niagara", serif;
  font-weight: 400;
  font-style: normal;
}
body{ 
  background-color:#FF5733 ;
}
p{
  text-align: center;
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  text-transform: uppercase;
  
}
article{
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  text-transform: uppercase;
}

/*Nav Bar and Title*/
/*Index Page*/
.question{
  padding: 1rem;
  font-family: "niagara", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 150px;
  color: #B3F2FF;
  line-height: .75;
}
.question:hover{
  padding: 1rem;
  font-family: "niagara", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 150px;
  color: #e44d2b;
  line-height: .75;}

.nav-bar {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 1rem;
  right: 2rem;
  
}
ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  color: antiquewhite;
  padding: 0%;
}


ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 15px 16px;
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  text-transform: uppercase;
}

ul li a:hover {
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 15px 16px;
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  text-transform: uppercase;
}
/* End of Nav Bar and Title*/

/*Index Page*/
.bio{
  margin:3rem;
  text-align: center;
  font-family: "niagara", serif;
  font-weight: 200;
  font-size: 50px;
  font-style: normal;
  color:antiquewhite;
}

#welcome{
  background-image: url(/Users/jessicatonthat/Desktop/jessicaWebDev/update-midterm/img/band.avif);
  background-size: cover;
}
#full-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:2rem;
  
}
#blog-side-title-1{
  font-family: "niagara", serif;
  font-weight: 800;
  font-style: normal;
  color: antiquewhite;
  text-align: center;
  padding-top: .5rem;
  font-size: 8rem;

}
.blog-article{
  text-align: left;
  color: antiquewhite;
}
#body-without-blog{
  display: flex;
  flex-direction: row;
}
#blog-preview{
  
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  outline: antiquewhite solid;
 
}
.blog-feature-post{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-self: center;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  
  
 
}
.blog-title, blog-photo, preview-blog-text{
  align-self: center;
}
.blog-photo{
  width: 10rem;
  height: fit-content;
  align-self: center;
  
}
#three-photos{
  margin-top: 5rem;
  margin-bottom:5rem;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.main-page-photos{
  width: 20%;
}
h4{
    font-family: "trade-gothic-next", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    text-transform: uppercase
  }

#name-title{
  justify-content: end;
  text-align: right;
  margin-right: 1rem;
  }

#name-title h1{
  margin-top: 3rem;
  padding: 1rem;
  font-family: "niagara", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 150px;
  color: antiquewhite;
  line-height: .75;
}
#quick-intro-1{
  margin-left: 20%;
}
/*End of Index Page*/

/*Blog Page*/

#body-blog-page{
  
  padding:2rem;
  margin:1rem;
  justify-content: center;
}
.main-blog-photo{
  padding: .5rem;
  margin: .5rem;
  width: 100%;
  height: fit-content;
}
.main-blog{
  justify-content: center;
  align-items: center;
  
  padding:2rem;
  
}
.blog-title-main{
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 1rem;
  font-family: "niagara", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 100px;
  color:antiquewhite;
  -webkit-text-stroke: black;
  line-height: .75;

}
.text-box{
  height: 450px;
  overflow-y: scroll;
  margin-left: 1rem;
  margin-right: 1rem;
}
/*Portfolio page*/
.description-design {
  text-align: center;
  margin:.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
#long-description{
  padding: 2rem;
  text-align: center;
}

#collection-of-photos-portfolio{
  display: flex;
  flex-direction: row;
  
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom:2rem;
  margin-top:2rem;
}

.big-design-feature-1{
  padding: 10px;
  width:50%;
  justify-content: center;

}
.big-design-feature-2{
  margin-right: 10px;
  position: relative;
  float: right;
  padding: 10px;
  width:50%;


}
.portfolio-photo{
  width:20rem;
  height: 20rem;
  object-fit: cover;
  filter: grayscale(1);
  transition: 0.25s ease-in-out;
  
}
.portfolio-photo:hover{
  filter: grayscale(0);
  transition: 0.25s ease-in-out;
}
.center-img{
  border-radius: 50%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  text-align:center;
  
  

}

/*Contact Page*/
.two-images{
  position: relative;
  padding:2rem;
}
.contact-img-1{
  float:left;
  width:20rem;
  height:fit-content;
  margin-right:20px;

  
}
#concept{
  margin:2rem;
  text-align: justify;
  text-justify: inter-word
}

.nav-bar-footer-1{
  position: absolute;
  bottom: 0;
}

/*Button*/
button {
  border: .5px solid;
  padding:1px;
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  background:  
    radial-gradient(circle, #0000 1%, var(--c) 1%) 50%/0%
    var(--c);
  transition: background 0.6s;
}
button:hover,
button:focus-visible{
  background-size: 15000%;
}
button:active {
  background-color: var(--r,#FA6900); /* color of the ripple effect*/
  background-size: 100%;
  transition: 0s;
}


.light {
  --c: #fff;
  color:#FA6900;
}
.dark {
  --c: #0B486B;
  color: #fff;
  border-color: var(--c);
}

