*{
  margin: 0;
  padding: 0%;
  display: block;
}
niagra-thin{
  font-family: "niagara", serif;
  font-weight: 200;
  font-style: normal;
}
niagra-regular{
  font-family: "niagara", serif;
  font-weight: 400;
  font-style: normal;
}
body{ 
  background-color:#FF5733 ;
}

.question{
  padding: 1rem;
  font-family: "niagara", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 150px;
  color: antiquewhite;
  line-height: .75;
}

.nav-bar {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 1rem;
  right: 2rem;
  
}
ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  color: antiquewhite;
  padding: 0%;
}


ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 15px 16px;
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  text-transform: uppercase;
}

ul li a:hover {
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 15px 16px;
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  text-transform: uppercase;
}

.photo-preview{
  display: flex;
  flex-direction: row;
  
  flex-wrap: wrap;
  padding:1;
  margin:1;

}

.grid{
  
  width:15rem;
  height:auto;
  
}


 

 


.title-section{
  background-image: url(/Users/jessicatonthat/Desktop/jessicaWebDev/Midterm-Project-copy/img/main-back.jpeg);
  background-size: cover;
  overflow: scroll;
  margin-top: 3rem;
}
.who-i-am{
  padding: 10rem;
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  text-transform: uppercase;
  color: #FF5733;
}

.bio{
  text-align: center;
  font-family: "niagara", serif;
  font-weight: 200;
  font-size: 50px;
  font-style: normal;
  color:antiquewhite;
}

#side-bar{
  
  
  padding: 1px;
  margin: 1px;
  display: flex;
  flex-direction: row;
  

}
#blog-feature{
  position: absolute;
  right:1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
  outline: solid black;
  justify-self:flex-end;
  

}

.blog-feature-post{
  align-items: end;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin:.5rem;
  outline: solid black;
}
.blog-photo{
  width:10rem;
  height: auto;
}
.introduction-section{
  

}
.decription{
  padding: 10rem;
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  text-transform: uppercase;
  }

  p{
    color: black;
    padding: 15px 16px;
    font-family: "trade-gothic-next", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    text-transform: uppercase;
  }

  h4{
    font-family: "trade-gothic-next", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    text-transform: uppercase
  }

.main-pic{
    width:20rem;
    height:20rem;
    padding:0rem;
    margin:3rem;
    margin-left: 20rem;
  }

#second-pic{
  width:20rem;
  height:20rem;
  margin-left:1rem;
}

#name{
  margin-left: 20rem;
}