/*Global Styles*/
*
{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: 'Courier New', Courier, monospace;
}
img{
    width:100%;
    height: auto;
}

/*Flex Simple Row Layouts*/

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    border: 1px solid purple;
    background-color: rgba(255, 0, 255, 0.3);
    min-height: 400px;
}

.item{
    border: 1px solid cornflowerblue;
    background-color: rgba(0, 0, 255, 0.3);
    min-width: 300px;
    min-height: 300px;
}

/*Atomic  CSS Pattern*/
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-start
{
    justify-content: flex-start;
}

.justify-end{
    justify-content: flex-end;
}

.justify-between{
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}
.justify-even{
    justify-content: space-evenly;
}
.align-start{
    align-items: start;
}
.align-end{
    align-items: end;
}
.align-center{
    align-items: center;
}
.self-start{
    align-self: flex-start;
}
.self-end{
    align-self: flex-end;
}
.self-center{
    align-self: center;
}
.self-stretch{
    align-self: stretch;
}
/*Classic Layout Examples*/
header{
    display: flex;
    width: 100%;
    min-height: 100px;

}
.wrapper{
    display: flex;
    flex-direction: row;
}
.grid-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: darkcyan;
}
.grid-item{
    width:23%;
    margin: 1%;

}
.seconday-nav{
    min-width: 25%;
    background-color: aquamarine;
}

.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li{
    border-bottom: 1px solid gray;
}
.menu span{
    padding: 1rem;
    font-size: 2rem;
}

.menu a{
    text-decoration: none;
    font-weight: 600;
    color: #111;
    width: 100%;
    display: flex;
    align-items: center;
}

.menu a:hover{
    background-color: rgba(0,0,0,.1);

}

footer{
    background-color: coral;
    display: flex;
}

@media screen and (max-width:1024px){
    .grid-item{
        width: 48%;

    }
}

@media screen and (max-width:768px) {
    .wrapper{
        flex-direction: column;
    }
    .secondary-nav{
        order: 1;
    }
    .grid-container{
        
    }
}