*{
    box-sizing: border-box;
    
}
.libre-barcode  {
    font-family: "Libre Barcode 39 Text", system-ui;
    font-weight: 400;
    font-style: normal;
  }
.gowun-batang-regular {
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
  }

.urbanist-100 {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

.stolzl-thin{
  font-family: "stolzl", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.stolzl-light{
  font-family: "stolzl", sans-serif;
  font-weight: 200;
  font-style: normal;}

.stolzl-regular{
  font-family: "stolzl", sans-serif;
  font-weight: 400;
  font-style: normal;
  }
  
.Stolzl-Bold{
  font-family: "stolzl", sans-serif;
  font-weight: 700;
  font-style: normal;}

body{
    background-color:#edcd44;
    background-size: cover; /* Resize the background image to cover the entire container*/

}



.main-section-home{
    background-color: 	#81cad6;
    position: fixed;
    height: 90%;
    width: 90%;
    top: 5%;
    bottom: 5%;
    right: 5%;
    left: 5%;
    overflow: scroll;
    
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 120%;
    
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: #dc3e26;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    color: white;
  }

  li a:active{
    color: #dc3e26;
  }

.text-section{
    padding:0;
}
h2{
    text-align: center;
    color: #dc3e26;
    font-size: 400%;
  
}

  article {
    
    font-size: 20px;
  }

  .photo-preview{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 0;
  }

  .photo-preview img{
    width: 30%;
    height: auto;
    overflow: hidden;
}

.blog-main-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.featured-article{
  padding: 0rem;
  outline: 2px black;
  overflow: scroll;
  text-align: center;
  outline: 1px black;
}
.main-article{
  font-size: 10px;
  padding:1rem ;
  text-align: left;
  
  
}
.featured-article h1,h3{
  padding: 0;
  margin: 0;
}
.other-articles{
  display: flex;
  flex-direction: column;
  margin: 1rem;
  justify-content: space-between;
  
}
.featured-img-blog img{
  width:fit-content;
  height: 50%;
}


.img-side-article{
  width: 15rem;
  height: auto;
  
}

.gallery{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
 

 
}
.portfolio-item{
  background-image: url("/Users/jessicatonthat/Desktop/jessicaWebDev/Midterm-Project/img/main-back.jpeg");
  background-size: cover; /* Resize the background image to cover the entire container*/
  width: auto;
  padding: 1rem;
  margin:1rem;
  
}
.portfolio-item h3{
  text-align: center;
  color: white;
  
}

.portfolio-image{
  width: 15rem;
  height: auto;
}

.empty-div{
  width: 100px;
  height: 20px;
}

.main-section-contact{
  margin: 2rem;
  padding: 1rem;
  
}

.socials ul li a{
  font-size: 120%;
}

/*add*/

form {
  border: 4px solid #f1f1f1;
}

/* Add some padding and a grey background color to containers */
.container {
  padding: 10px;
  background-color: #f1f1f1;
}

/* Style the input elements and the submit button */
input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Add margins to the checkbox */
input[type=checkbox] {
  margin-top: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: blue;
  color: white;
  border: none;
  font-family: monospace;
}

input[type=submit]:hover {
  opacity: 0.8;
}

.newsletter-form{
  margin:2rem;
  padding:3rem;
}

h3{
  text-align: center;
}