html, body {
    margin:0;
}

div{
    border: 1px,solid, red;
    padding: 10px; 
}
/*Absolute elements without an absolute positioned 
parent will be positioned in realtion to the entire 
browser window*/

.abs-no-parent{
    background-color: cornflowerblue;
    position: absolute;
    top: 20%;
    right: 100px; 
}

.rel-parent{
    background-color: blueviolet;
    width: 50%;
    /*percentage of viewport height*/
    height: 100vh;
    /*whenever you want to position something absolutely
     within another element the parent needs to be 
     relative*/
    position: relative;
}

.abs-rel-parent{ 
    background-color: rgb(12,237,16);
    width: 200px;
    height: 200px;
    position: absolute;
    /*10 px from the bottom of its relatively positioned parent*/
    bottom: 10px;
    right: 0;
}

header{
    background-color: darkorange;
    height: 100px;
    width:100%;
    position: fixed;
    /*positive # pushes it forward and negative # sends it back
    Think of adjustinf index like adjusting draw order*/
    z-index: 100;
}